---
layout: blank
---
    <div class="header-post"></div>
    <div class="avatar"></div>
    <div class="container">

      <div class="centered">
        <h2 class="name-title"><a href="/" class="name-title">André Staltz</a></h2>
      </div>

      <h2 id="blog" class="hr"><span class="hr">BLOG</span></h2>
      <p>
      {% for post in site.posts %}
        {% if post.tags contains 'blog' %}
        <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y-%B" }})<br />
        {% endif %}
      {% endfor %}
        <a href="http://futurice.com/blog/why-debugging-is-all-about-understanding">Why debugging is all about understanding</a> (2015-August)<br />
        <a href="https://medium.com/@andrestaltz/why-i-cannot-say-frp-but-i-just-did-d5ffaa23973b#.xym3mzpyn">Why I cannot say FRP but I just did</a> (2015-July)<br />
        <a href="http://futurice.com/blog/best-practices-mobile">Sharing best practices for Android, iOS, and Windows apps</a> (2015-April)<br />
        <a href="http://futurice.com/blog/reactive-mvc-and-the-virtual-dom">Reactive MVC and the Virtual DOM</a> (2014-November)<br />
        <a href="http://futurice.com/blog/android-development-has-its-own-swift">Android development has its own Swift</a> (2014-July)<br />
        <a href="https://gist.github.com/staltz/868e7e9bc2a7b8c1f754">The introduction to Reactive Programming you've been missing</a> (2014-July)
      </p>
      <p>
        All blog posts above, hosted under this domain <code>staltz.com</code>, are licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>. Also, check out these <a href="/big-tweets">"big tweets"</a>.
      </p>

      <h2 id="talks" class="hr"><span class="hr">TALKS</span></h2>
      <p>
      	<a href="https://www.youtube.com/watch?v=_fB8GRotdrc">How to think</a> (Uphill Conf, Bern 2019)<br />
        <a href="https://www.youtube.com/watch?v=VdiJ_vgVUgs">Profunctor Optics for state management</a> (Frontmania, Utrecht 2018)<br />
        <a href="https://www.youtube.com/watch?v=8GE5C9-RUpg">Reinvent the social web</a> (Full Stack Fest, Barcelona 2018)<br />
        <a href="https://www.youtube.com/watch?v=HssczgaY9BM">Callback Heaven</a> (Amsterdam.js, Amsterdam 2018)<br />
        <a href="https://www.youtube.com/watch?v=fdol03pcvMA">Two fundamental abstractions</a> (Uphill Conf, Bern 2018)<br />
	<a href="https://www.youtube.com/watch?v=UjfWAbGfPh0">It's time to build our own Internet</a> (TEDx Geneva, 2018)<br />
        <a href="https://www.youtube.com/watch?v=izQFMADw70w">The Decentralized Web</a> (Hack\Talks, Helsinki 2017)<br />
        <a href="https://www.youtube.com/watch?v=VEXN2JZ_aDc">The World According to Google</a> (Central European Forum, Bratislava 2017)<br />
        <a href="https://www.youtube.com/watch?v=wdP-Sl-im70">OOP is dead only if FP is dead</a> (Codestar.nl meetup, Utrecht 2017)<br />
        <a href="https://www.youtube.com/watch?v=YnRALIjnRM4">Composable Native APIs</a> (React Native Europe, Wroclaw 2017)<br />
        (PT-BR) <a href="https://www.youtube.com/watch?v=CcDMWrH6VHU">O fim da internet</a> (BrazilJS, Porto Alegre 2017)<br />
        <a href="https://vimeo.com/album/4578937/video/216787869">The Past, Present, and Future of Cycle.js</a> (CycleConf, Stockholm 2017)<br />
        <a href="https://www.youtube.com/watch?v=uQ1zhJHclvs">You will learn RxJS</a> (ng-europe, Paris 2016)<br />
        <a href="https://www.youtube.com/watch?v=Tkjg179M-Nc">The Return of Stream I/O</a> (GOTO, Copenhagen 2016)<br />
        <a href="https://www.youtube.com/watch?v=R-GzJgEccEQ">See the data flowing through your app</a> (Full Stack Fest, Barcelona 2016)<br />
        <a href="https://www.youtube.com/watch?v=v68ppDlvHqs">Dynamics of change: why reactivity matters</a> (PolyConf, Poznan 2016)<br />
        <a href="https://vimeo.com/168652278">Unidirectional data flow architectures</a> (At The Frontend, Copenhagen 2016)<br />
        <a href="https://www.youtube.com/watch?v=1ToJ7cxb1R8">Brains as building blocks</a> (CycleConf, Copenhagen 2016)<br />
        <a href="https://www.youtube.com/watch?v=Rj8ZTRVka4E">Cycle.js was built to solve problems</a> (Frontend.fi, Helsinki 2016)<br />
        <a href="https://www.youtube.com/watch?v=BfZpr0USIi4">The whole future declared in a var</a> (dotJS, Paris 2015)<br />
        <a href="https://www.youtube.com/watch?v=uNZnftSksYg">Cycle.js and functional reactive user interfaces</a> (ReactiveConf, Bratislava 2015)<br />
        <a href="http://www.ustream.tv/recorded/64104885">How Reactive Programming can help reduce code spaghetti</a> (MLOC.js, Budapest 2015)<br />
        <a href="https://www.youtube.com/watch?v=1zj7M1LnJV4">What if the user were a function?</a> (JSConf Budapest 2015)<br />
      </p>

      <h2 id="find-me" class="hr"><span class="hr">FIND ME</span></h2>
      <ul class="horizontal">
        <li><a href="mailto:andre@staltz.com" class="email-bg"><i class="fa fa-envelope"></i></a></li>
        <li><a href="http://www.github.com/staltz" class="github-bg"><i class="fab fa-github"></i></a></li>
        <li><a href="http://www.twitter.com/andrestaltz" class="twitter-bg"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://patreon.com/andrestaltz" class="patreon-bg"><i class="fab fa-patreon"></i></a></li>
        <li><a href="http://www.stackoverflow.com/users/315752/staltz" class="stackexchange-bg"><i class="fab fa-stack-overflow"></i></a></li>
        <li><a href="http://www.linkedin.com/in/andrestaltz" class="linkedin-bg"><i class="fab fa-linkedin"></i></a></li>
      </ul>

    </div>
