---
layout: base
---
<div class="wrap tweet">
  <a class="article__back" href="/big-tweets.html">&larr; Big tweets</a>

  <div class="tweet__head">
    <div class="tweet__avatar"></div>
    <div>
      <div class="tweet__name">André Staltz</div>
      <div class="tweet__handle">
        <a href="https://twitter.com/andrestaltz">@andrestaltz</a><span class="tweet__dot">·</span>{{ page.date | dateToString }}
      </div>
    </div>
  </div>

  <div class="prose">
{{ content }}
    <p>PS: this is not a blog post, it's a "big tweet".</p>
    <p>
      If you liked this, consider
      <a href="https://twitter.com/intent/tweet?original_referer={{ site.url | url_encode }}{{ page.url | url_encode }}&amp;text={{ title | url_encode }}&amp;tw_p=tweetbutton&amp;url={{ site.url | url_encode }}{{ page.url | url_encode }}&amp;via=andrestaltz" rel="nofollow" target="_blank">sharing it</a> too.
    </p>
  </div>
</div>
