<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>André Staltz{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="Open Source Hacker">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/github.css" rel="stylesheet">
    <script src="/js/modernizr-2.6.1.min.js"></script>
  </head>
  <body>
    <div class="header-post"></div>
    <div class="avatar"></div>
    <div class="container post">
      <div class="centered">
        <h2 class="name-title"><a href="/">André Staltz</a></h2>
        <h2 class="post-title">{{ page.title }}</h3>
      </div>
{{ content }}
    </div>
    <div class="footer">
      <p><a href="/">Back home</a></p>
      <p><a href="https://github.com/staltz/staltz.github.io" target="_blank">Source code</a></p>
    </div>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  </body>
</html>
