<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>André Staltz{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="Open Source Freelancer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/github.css" rel="stylesheet">
  <script src="/js/modernizr-2.6.1.min.js"></script>
</head>

<body>
  <div class="header-post"></div>
  <div class="avatar"></div>
  <div class="container post">
    <div class="centered">
      <h2 class="name-title">
        <a href="/">André Staltz</a>
      </h2>
      <h2 class="post-title">{{ page.title }}</h3>
        <h3 class="post-date">{{ page.date | date_to_string }}</h3>
    </div>
    {{ content }}
    <p>
      If you liked this article, consider sharing
      <a href="https://twitter.com/intent/tweet?original_referer={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;text={{ page.title | uri_escape }}&amp;tw_p=tweetbutton&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;via=andrestaltz"
        rel="nofollow" target="_blank" title="tweeting">(tweeting)
        <span style="text-decoration: underline">
      </a> it to your followers.
    </p>
    <p class="verify-in-keybase">
      Copyright (C) {{ page.date | date: "%Y" }} Andre 'Staltz' Medeiros, licensed under
      <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons BY-NC 4.0</a>, translations to other languages allowed. You can make sure that the author wrote this
      post by copy-pasting
      <a href="https://raw.githubusercontent.com/staltz/staltz.com/master/signed_posts/{{ page.path | remove_first: '_posts/' }}.asc">this signature</a> into
      <a href="https://keybase.io/verify">this Keybase page</a>.
    </p>
  </div>
  <div class="footer">
    <p>
      <a href="/">Back home</a>
    </p>
    <p>
      <a href="https://github.com/staltz/staltz.github.io" target="_blank">Source code</a>
    </p>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
</body>

</html>
